<mat-card>
  <mat-card-header>
    <mat-card-title style="text-align: center"> Notas</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-grid-list [cols]="colSize" rowHeight="300px" gutterSize="1vh">
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let nota of Notas.docs">
    <mat-card style="width: 100%; height: 82%;">
      <mat-card-header>
        <mat-card-title>{{ nota.titulo }} </mat-card-title>
        <mat-card-subtitle>{{ nota.autor.nombre }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          nota.NoteDate | date
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ (nota.descripcion.length>100)? (nota.descripcion | slice:0:100)+'..':(nota.descripcion) }}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
