.large-box {
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
.mat-card-header-text {
  margin: 0 2px !important;
}

.mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #1891d5;
  color: #fff;
}

.btn-block {
  width: 100%;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
  margin-top: 7px;
}

.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.card-title {
  padding-top: 10px;
  border-radius: 6px;
}


