.large-box {
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
.mat-card-header-text {
  margin: 0 2px !important;
}

.mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #1891d5;
  color: #fff;
}

.btn-block {
  width: 100%;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
  margin-top: 7px;
}

.grid-container {
  margin: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.card-title {
  padding-top: 10px;
  border-radius: 6px;
}

.wrapper {
  height: 100%;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.527);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.wrapper .example-full-width,
.wrapper .btn-block {
  width: 100%;
}

.wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

textarea {
  border: 1px solid black;
}

.wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #1891d5;
  color: #fff;
}

.wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
