<mat-tab-group dynamicHeight>
  <mat-tab label="Listado de notas">
    <div class="large-box">
      <mat-grid-list [cols]="colSize" rowHeight="300px" gutterSize="1vh">
        <mat-grid-tile
          [colspan]="1"
          [rowspan]="1"
          *ngFor="
            let nota of Notas.docs
              | paginate
                : {
                    itemsPerPage: limitItems,
                    currentPage: page,
                    totalItems: Notas.totalDocs
                  }
          "
        >
          <mat-card style="width: 100%; height: 100%">
            <mat-card-header>
              <mat-card-title
                >{{ nota.titulo }}

                <button
                  mat-icon-button
                  class="more-button"
                  [mat-menu-trigger-for]="menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="eliminarNota(nota)">
                    Eliminar
                  </button>
                </mat-menu>
              </mat-card-title>

              <mat-card-subtitle>{{ nota.autor.nombre }}</mat-card-subtitle>
              <mat-card-subtitle>{{ nota.NoteDate | date }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="height: 100px">
              <p>
                {{
                  nota.descripcion.length > 100
                    ? (nota.descripcion | slice: 0:100) + ".."
                    : nota.descripcion
                }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-flat-button
                color="primary"
                class="btn-block"
                (click)="verNota(nota)"
              >
                Ver Nota
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <footer style="display: flex; justify-content: center">
      <pagination-controls
        (pageChange)="pageChange($event)"
        maxSize="9"
        autoHide="true"
        directionLinks="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
      >
      </pagination-controls>
    </footer>
  </mat-tab>
  <mat-tab label="Crear nota">
    <div
      class="wrapper"
      fxLayout="row"
      fxLayoutAlign="center center"
      style="height: 500px"
    >
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title> Crear nota</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="NotasForm" (ngSubmit)="addNota()">
          <div class="container">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Titulo" formControlName="titulo" />
                <mat-hint
                  *ngIf="
                    NotasForm.controls.titulo.touched &&
                    NotasForm.controls.titulo.errors
                  "
                  style="color: red"
                  >Titulo es requerido</mat-hint
                >
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <label> Descripcion:</label>
                <textarea
                  matInput
                  formControlName="descripcion"
                  style="width: 100%; margin-top: 5px"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="10"
                ></textarea>

                <mat-hint
                  *ngIf="
                    NotasForm.controls.descripcion.touched &&
                    NotasForm.controls.descripcion.errors
                  "
                  style="color: red"
                  >Descripcion requerido</mat-hint
                >
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Fecha</mat-label>
                <input
                  matInput
                  formControlName="fecha"
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </mat-card-content>
            <button
              mat-stroked-button
              [style]="!NotasForm.valid ? 'background-color: #cccccc' : ''"
              class="btn-block"
              [disabled]="!NotasForm.valid"
              type="submit"
            >
              Añadir nota
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
