<mat-tab-group
  dynamicHeight
  [selectedIndex]="selected.value"
  (selectedIndexChange)="chanegeTab($event)"
>
  <mat-tab label="Listado de usuarios">
    <div class="large-box">
      <div>
        <h3>Usuarios</h3>

        <div class="example-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nombre" sticky>
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                {{ element.nombre }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element">
                {{ element.email }}
              </td>
            </ng-container>

            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef>Rol</th>
              <td mat-cell *matCellDef="let element">
                {{ element.rol == 1 ? "Administrador" : "Normal" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="acciones" stickyEnd>
              <th mat-header-cell *matHeaderCellDef style="width: 3px"></th>
              <td mat-cell *matCellDef="let element" style="width: 3px">
                <button
                  mat-icon-button
                  class="more-button"
                  [mat-menu-trigger-for]="menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="eliminarUser(element)">Eliminar</button>
                  <button mat-menu-item (click)="triggerClick(element)">
                    Editar
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <some-element
          *ngFor="
            let item of Usuarios.docs
              | paginate
                : {
                    itemsPerPage: limitItems,
                    currentPage: Usuarios.page,
                    totalItems: Usuarios.totalDocs
                  }
          "
        ></some-element>

        <footer style="display: flex; justify-content: center">
          <pagination-controls
            (pageChange)="pageChange($event)"
            maxSize="9"
            directionLinks="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
          >
          </pagination-controls>
        </footer>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="editar ? 'Editar Usuario' : 'Crear Usuario'">
    <div
      class="wrapper"
      fxLayout="row"
      fxLayoutAlign="center center"
      style="height: 500px"
    >
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>{{
            editar ? "Editar Usuario" : "Crear Usuario"
          }}</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="UsuarioForm" (ngSubmit)="addUser()">
          <div class="container">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" formControlName="nombre" />
                <mat-hint
                  *ngIf="
                    UsuarioForm.controls.nombre.touched &&
                    UsuarioForm.controls.nombre.errors
                  "
                  style="color: red"
                  >Nombre es requerido</mat-hint
                >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Rol de usuario</mat-label>
                <mat-select formControlName="rol">
                  <mat-option *ngFor="let rol of roles" [value]="rol.id">
                    {{ rol.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email" />
                <mat-hint
                  *ngIf="
                    UsuarioForm.controls.email.touched &&
                    UsuarioForm.controls.email.errors
                  "
                  style="color: red"
                  >Email is required</mat-hint
                >
              </mat-form-field>
              <mat-form-field *ngIf="!editar" class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  #passwordField
                />

                <mat-hint *ngIf="errorPass()" style="color: red"
                  >Contraseña es requerido</mat-hint
                >

                <button
                  aria-label="view password"
                  mat-icon-button
                  type="button"
                  (click)="
                    passwordField.type === 'password'
                      ? (passwordField.type = 'text')
                      : (passwordField.type = 'password')
                  "
                  matSuffix
                >
                  <mat-icon *ngIf="passwordField.type === 'password'"
                    >visibility</mat-icon
                  >
                  <mat-icon *ngIf="passwordField.type === 'text'"
                    >visibility_off</mat-icon
                  >
                </button>
              </mat-form-field>
            </mat-card-content>
            <button
              mat-stroked-button
              [style]="!UsuarioForm.valid ? 'background-color: #cccccc' : ''"
              class="btn-block"
              [disabled]="!UsuarioForm.valid"
              type="submit"
            >
              {{ editar ? "Editar" : "Añadir" }} usuario
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
